<div class="container">
<p id="notice"><%= notice %></p>

<h2>Lista de Ações</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Dt início</th>
      <th>Dt fim</th>
      <th>Organização</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acaos.each do |acao| %>
      <tr>
        <td><%= acao.nome %></td>
        <td><%= acao.descricao %></td>
        <td><%= acao.dt_inicio.strftime("%d/%m/%Y") %></td>
        <td><%= acao.dt_fim.strftime("%d/%m/%Y") %></td>
        <td><%= acao.organizacao %></td>
        <td><%= link_to 'Ver', acao %></td>
        <td><%= link_to 'Editar', edit_acao_path(acao) %></td>
        <td><%= link_to 'Excluir', acao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Ação', new_acao_path, :class=>"btn btn-default" %>
</div>
