<%= form_for(voluntario) do |f| %>
  <% if voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :idade %>
    <%= f.text_field :idade %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

  <div class="field">
    <%= f.label :credito %>
    <%= f.text_field :credito %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
