<%= form_for(voluntario) do |f| %>
  <% if voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_completo %>
    <%= f.text_field :nome_completo %>
  </div>

  <div class="field">
    <%= f.label :data_nasc %>
    <%= f.date_select :data_nasc %>
  </div>

  <div class="field">
    <%= f.label :profissao %>
    <%= f.text_field :profissao %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :telefone %>
    <%= f.text_field :telefone %>
  </div>

  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

  <div class="field">
    <%= f.label :cep %>
    <%= f.text_field :cep %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :empresa_trabalha %>
    <%= f.text_field :empresa_trabalha %>
  </div>

  <div class="field">
    <%= f.label :voluntario %>
    <%= f.check_box :voluntario %>
  </div>

  <div class="field">
    <%= f.label :area_atuacao %>
    <%= f.text_field :area_atuacao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
