<div class="container">
<p id="notice"><%= notice %></p>

<h2>Lista de Voluntários</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Email</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>Crédito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voluntarios.each do |voluntario| %>
      <tr>
        <td><%= voluntario.nome %></td>
        <td><%= voluntario.idade %></td>
        <td><%= voluntario.email %></td>
        <td><%= voluntario.endereco %></td>
        <td><%= voluntario.cidade %></td>
        <td><%= voluntario.credito %></td>
        <td><%= link_to 'Ver', voluntario %></td>
        <td><%= link_to 'Editar', edit_voluntario_path(voluntario) %></td>
        <td><%= link_to 'Excluir', voluntario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Voluntario', new_voluntario_path, :class=>"btn btn-default" %>

</div>
