<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @voluntario.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @voluntario.idade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @voluntario.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @voluntario.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @voluntario.cidade %>
</p>

<p>
  <strong>credito:</strong>
  <%= @voluntario.credito %>
</p>

<%= link_to 'Editar', edit_voluntario_path(@voluntario), :class=>"btn btn-default" %> |
<%= link_to 'Voltar', voluntarios_path, :class=>"btn btn-default" %>

</div>
