<%= form_for(parceiro) do |f| %>
  <% if parceiro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parceiro.errors.count, "error") %> prohibited this parceiro from being saved:</h2>

      <ul>
      <% parceiro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>

  <div class="field">
    <%= f.label :cep %>
    <%= f.text_field :cep %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
