<div class="container">

<p id="notice"><%= notice %></p>

<h2>Lista de Organizações</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Area atuacao</th>
      <th>Endereco</th>
      <th>Cep</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizacaos.each do |organizacao| %>
      <tr>
        <td><%= organizacao.nome %></td>
        <td><%= organizacao.area_atuacao %></td>
        <td><%= organizacao.endereco %></td>
        <td><%= organizacao.cep %></td>
        <td><%= organizacao.cidade %></td>
        <td><%= organizacao.estado %></td>
        <td><%= organizacao.lat %></td>
        <td><%= organizacao.log %></td>
        <td><%= link_to 'Ver', organizacao %></td>
        <td><%= link_to 'Editar', edit_organizacao_path(organizacao) %></td>
        <td><%= link_to 'Excluir', organizacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Organização', new_organizacao_path, :class=>"btn btn-default" %>
</div>
