<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @organizacao.nome %>
</p>

<p>
  <strong>Area atuacao:</strong>
  <%= @organizacao.area_atuacao %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @organizacao.endereco %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @organizacao.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @organizacao.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @organizacao.estado %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @organizacao.lat %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @organizacao.log %>
</p>

<%= link_to 'Editar', edit_organizacao_path(@organizacao), :class=>"btn btn-default" %> |
<%= link_to 'Voltar', organizacaos_path, :class=>"btn btn-default" %>
